<div class='flex-container flex-center'>
  <div id='main-container' class='flex-container flex-column'>
    <div class="form flex-container flex-column">
      <input class="field" type="text" name='StartDate)' placeholder='Start Date (d/mm/YYYY)' #startDate>
      <input class="field" type="number" placeholder='NumberOfDays' name='Number of Days' #numberOfDays>
      <input class="field" type="text" placeholder='CountryCode' name='Country Code' #countryCode>
      <button class='primary' (click)='generateCalendar(startDate, numberOfDays)'>Generate Calendar</button>
    </div>
    <div *ngIf="months?.length > 0" class='flex-container'>
      <div *ngFor="let wday of wdays">
        <div class='calendar-header flex-container flex-center'>{{wday}}</div>
      </div>
    </div>
    <div id='calendar-container' *ngFor="let month of months">
      <div class=' flex-container flex-center-horizontal calendar-navigator'>
        <div>{{month.name}}</div>
      </div>
      <div class='flex-container flex-wrap'>
        <div *ngFor="let day of month.days">
          <div class='calendar-day flex-container flex-center' [ngClass]="{'inactiveDay ': !day, 'weekend': isWeekend(day?.day())}">{{day?.date()}}</div>
        </div>
      </div>
    </div>
  </div>
</div>

