<div class='flex-container flex-center'>
  <div id='calendar-container' class='flex-container flex-column'>
    <div class=' flex-container flex-center-horizontal calendar-header'>
      <div class='fa fa-chevron-left left-arrow'></div>
      <div>{{date.format('MMMM')}} {{date.format('YYYY')}}</div>
      <div class='fa fa-chevron-right right-arrow'></div>
    </div>
    <div class='flex-container'>
      <div *ngFor="let wday of wdays">
        <div class='calendar-day flex-container flex-center'>{{wday}}</div>
      </div>
    </div>
    <div class='flex-container flex-wrap'>
      <div *ngFor="let day of days">
        <div class='calendar-day flex-container flex-center' [ngClass]="{'inactiveDay ': !day, 'weekend': isWeekend(day?.day())}">{{day?.day()}}</div>
      </div>
    </div>
  </div>
</div>

